Call with Bijoor, and 2 others-20230426_214342-Meeting Recording.mp4
Proposal Old/thrain-master.zip
Proposal Old/Special Topics Project.zip
Proposal Old/Proposal.pdf
Proposal Old/Project Report - Copy.docx
try.py
PROJECT.pdf
Project Proposal.pdf
Project Proposal.docx
